{:source-paths ["src"]
 :dependencies [[reagent "1.0.0"]]
 :dev-http {8080 ["public/"
                  "target/public/"]}
 :builds {:dev {:target :browser
                :output-dir "target/public/dev"
                :asset-path "/dev"
                :modules {:main {:init-fn demo.ui/render!}}
                :devtools {:after-load demo.ui/render!}}}}
